.all{

}
.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
}
.submain{
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
}
.img{
  width: 200px;
  height: 200px;
}
