.main{
  display: flex;
  justify-content: space-evenly;
  width: auto;
  box-sizing: border-box;
  margin-top: 2%;
}
.submain{
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
}
